html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.cover-image {
  height: 700px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-image: url("./la-palla.jpg");
  background-size: cover;
  background-position: left;
}

.cover-info {
  position: relative;
  top: 200px;
}

.cover-space img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 150px;
  margin-bottom: 30px;
}

.cover-space {
  min-height: 700px;
  position: relative;
  z-index: 1;
  background-color: rgba(28, 60, 72, 0.76);
}

.cover-space h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cover-space .muted {
  font-weight: normal
}

.cover-space h5 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.background-content {
  background-color: white;
  width: 100%;
  background: white;
  position: relative;
  z-index: 1;
  top: -40px;
}

.portfolio-content {
  width: 1220px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
}

.portfolio-content h1 {
  font-size: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(28, 60, 72)
}

.portfolio-content h2 {
  font-size: 24px;
  padding-bottom: 5px;
}

.portfolio-projects li {
  width: 590px;
  padding: 25px;
  float: left;
}

.portfolio-education li, .about-me li {
  padding: 25px;
}

.item-links {
  padding-top: 10px;
  color: rgb(28, 60, 72);
  font-weight: bold;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 1220px;
  padding: 25px;
}

.picture-info {
  color: grey;
  font-size: 10px;
}
